svn/*

# Build and Release Files
build/
*.zip
release/

# Python scripts virtualenv
venv/
venv3/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Linting
*.phar
wpcs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
